body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #999;
}
#form {
	width:500px;
	background-color: #000;
	color: #FFF;
	padding-top: 55px;
	padding-left:75px;
	padding-bottom:55px;
	border: 1px solid #FFF;
	margin-top: 15%;
	margin-left:30%;
}
a {
	font-size: 12px;
	color: #006699;
	text-decoration: none;
}
